<%- model_class = TimePoint -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:title) %></th>
      <th><%= model_class.human_attribute_name(:description) %></th>
      <th><%= model_class.human_attribute_name(:start_date) %></th>
      <th><%= model_class.human_attribute_name(:high_threshold) %></th>
      <th><%= model_class.human_attribute_name(:importance) %></th>
      <th><%= model_class.human_attribute_name(:timeline_id) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @time_points.each do |time_point| %>
      <tr>
        <td><%= link_to time_point.id, time_point_path(time_point) %></td>
        <td><%= time_point.title %></td>
        <td><%= time_point.description %></td>
        <td><%= time_point.start_date %></td>
        <td><%= time_point.high_threshold %></td>
        <td><%= time_point.importance %></td>
        <td><%= time_point.timeline_id %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_time_point_path(time_point), :class => 'btn btn-mini' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      time_point_path(time_point),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_time_point_path,
            :class => 'btn btn-primary' %>
