<span><%= timeline.title %></span>
<p></p>

<p>
  <h4>Focus date:</h4>
  <%= timeline.focus_date %>
</p>
<p>
  <h4>Initial zoom:</h4>
  <%= timeline.initial_zoom %>
</p>

<div class="btn-group">
<a class="btn dropdown-toggle" data-toggle="dropdown"> Time Line <span class="caret"></span></a>
  <ul class="dropdown-menu">

    <li><a data-toggle="modal" href="#Edit_Timeline" class="" data-remote='false'>Edit TimeLine</a></li>

    <li><%= link_to t('.Destroy Timeline', :default => t("helpers.links.Destroy_Timeline")), timeline_path(@timeline),
              :method => 'delete',
              :confirm => 'Are you sure ?',
              :class => 'label label-important' %></li>
  </ul>
</div>

<div class="btn-group">
<a class="btn dropdown-toggle" data-toggle="dropdown"> Events <span class="caret"></span></a>
  <ul class="dropdown-menu pull-right">
    <li><a data-toggle="modal" href="#Add_Point" class="" data-remote='false'>Add P(Modal)</a></li>
    <li><a data-toggle="modal" href="#Add_Item" class="" data-remote='false'>Add I(Modal)</a></li>
  </ul>
</div>



 <div id="Edit_Timeline" class="modal hide fade" tabindex="10" role="dialog" aria-labelledby="Edit_Timeline_label" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3 id="Edit_Timeline_label">Editing Timeline</h3>
  </div>
  <div class="modal-body">
    <%= render :partial => 'timelines/form' %>
  </div>
</div>


<div id="Add_Item" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="Add_Item_label" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3 id="Add_Item_label">Adding Item</h3>
  </div>
  <div class="modal-body">
    <%= render :partial => 'time_items/form' %>
  </div>
</div>




<div id="Add_Point" class="modal hide fade" tabindex="-2" role="dialog" aria-labelledby="Add_Point_label" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3 id="Add_Point_label">Adding Point</h3>

  </div>
  <div class="modal-body">
    <%= render :partial => 'time_points/form' %>
  </div>
</div>
 





