<% if notice %>
<p id="notice"><%= notice %></p>
<% end %>

<html lang='en'>
<head>
<meta charset="utf-8" />

<!-- OPTIONALLY FOR CHECKBOX-STYLE LEGEND ITEMS 
<link rel="stylesheet" href="css/tg_legend_checkboxes.css" type="text/css" media="screen" charset="utf-8">
-->
<style type='text/css'>
    #p1 {
      height:565px;
    }
    </style>


    <script type="text/javascript">

        $(function(){

            $("#extruderLeft").buildMbExtruder({
                position:"left",
                width:280,
                extruderOpacity:.7,
                hidePanelsOnClose:true,
                accordionPanels:true,
                onExtOpen:function(){},
                onExtContentLoad:function(){$("#extruderLeft1").openPanel();},
                onExtClose:function(){}
            });



        });


        $(function(){

            $("#extruderLeft1").buildMbExtruder({
                position:"left",
                width:380,
                extruderOpacity:.7,
                hidePanelsOnClose:true,
                accordionPanels:true,
                onExtOpen:function(){},
                onExtContentLoad:function(){$("#extruderLeft1").openPanel();},
                onExtClose:function(){}
            });



        });


    </script>

</head>
<body>

<div id='p1'></div>


<p></p>

  <script type='text/javascript'>
  
   
  $(function () { 
  
    var tg_instance = {};
    


    tg1 = $("#p1").timeline({

        "min_zoom":14, 
        "max_zoom":45, 
        "icon_folder":"http://localhost:3000/icons/",
        "data_source":"http://localhost:3000/timelines/<%=@timeline.id%>.json",
        "show_footer":true,
        "display_zoom_level":true,
        "mousewheel":"zoom", // zoom | pan | none
        "constrain_to_data":false,
        "legend":{type:"default"}, // default | checkboxes
        "loaded":function () { 
          // loaded callback function
         }

    })

    
    }); // end document-ready

</script>


<div id="extruderLeft" class="a {title:'TimeLine'}" >
  <h3>TimeLine Info</h3>
    <%= render partial: 'timelines/timeline', locals: {timeline: @timeline} if (@timeline) %>
  <style type="text/css">
    .extruder .text{
                    background-color: white;
                    color:black;
                    padding:30px;
                    padding-bottom:1000px;
                    border-bottom:1px solid #333333;}
  </style>
</div>


<div id="extruderLeft1" class="a {title:'Events'}" >
  <h3>Events</h3>
  <table class="table table-striped">
       <%= render(@timeline.time_items)%>
       <%= render(@timeline.time_points)%>
  <table>
  <style type="text/css">
    .extruder .text{
                    background-color: white;
                    color:black;
                    padding:20px;
                    padding-bottom:1000px;
                    border-bottom:1px solid #333333;}
  </style>
</div>


</body>
</html>












